<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Deelnemers inschrijven</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card id="form" color="light" padding>
    <ion-card-header>
      <ion-card-title>Inschrijfformulier</ion-card-title>
      <ion-card-subtitle>Individuele deelnemer</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <app-signup-form></app-signup-form>      
    </ion-card-content>
  </ion-card>
</ion-content>
